*{
padding: 0%;
margin: 0%;
}
body
{
    background-color: aliceblue;
 
  
}
#score_box
{
   
    border: 2px solid black;
    margin-left: 5%;
    padding: 4%;
}
#high_score
{
   
    border: 2px solid black;
    margin-right: 5%;
    padding: 4%;
}
.game{
    background-color: aliceblue;
    min-height: 80vh;
    background-size:80vw 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
  background-color: black;
  width: 100vmin;
  height: 80vmin;
  border-top: 10px solid brown;
  border-bottom: 10px solid brown;

  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

.snake
{
background-color: white;
border-radius: 100%;
}
.head
{
    background-color:yellow;
    border-radius: 100%;
 
}
.food
{
    background-color: red;
    border-radius: 100%;
}
#pause
{
background-color: black;
color: white;
width: 5%;
padding: 1%;
margin: auto;
}